<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>创建用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="../static/css/layui.css">

    <style>
        body {
            padding: 20px;
        }

        .round_icon {
            width: 100px;
            height: 100px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    </style>
</head>
<body>

<form class="layui-form layui-form-pane1" action="" lay-filter="first">
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-block">
            <img src="../static/images/photo.jpg" class="round_icon" alt="">
        </div>
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">上传图片</button>

                <div class="layui-upload-list">
                    <img class="layui-upload-img" src="" id="demo1">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <label>
                <input type="text" name="title" lay-verify="required|title" lay-reqText="标题不能为空" required
                       placeholder="请输入标题" autocomplete="off" class="layui-input">
            </label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <label>
                <input type="password" name="password" lay-verify="required|pass" placeholder="请输入密码" autocomplete="off"
                       class="layui-input">
            </label>
        </div>
        <div class="layui-form-mid layui-word-aux">请务必填写用户名</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-block">
            <label>
                <input type="tel" name="phone" lay-verify="required|number" lay-verType="tips" autocomplete="off"
                       class="layui-input">
            </label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <label>
                <input type="email" name="email" lay-verify="email" lay-verType="alert" autocomplete="off"
                       class="layui-input">
            </label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">生日</label>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="testx" placeholder="yyyy-MM-dd">

            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-block">
            <select name="interest" lay-filter="interest">
                <option value=""></option>
                <option value="0">数学</option>
                <option value="1">物理</option>
                <option value="2">化学</option>
                <option value="3">生物</option>
                <option value="4">计算机</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item" pane>
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男">
            <input type="radio" name="sex" value="女" title="女" checked>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">个人简介</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script src="../src/layui.js"></script>

<script>

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题也太短了吧';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
        });

        //日期
        laydate.render({
            elem: '#date'
        });

        //初始赋值
        var thisValue = form.val('first', {
            'title': '测试'
            , 'phone': 11111111111
            , 'email': 'xu@sentsin.com'
            , 'password': 123123
            , 'interest': 3
            , 'sex': '男'
            , 'desc': 'form 是我们非常看重的一块'
            , xxxxxxxxx: 123
        });
        console.log(thisValue);


        //事件监听
        form.on('select', function (data) {
            console.log('select: ', this, data);
        });

        form.on('select(quiz)', function (data) {
            console.log('select.quiz：', this, data);
        });

        form.on('select(interest)', function (data) {
            console.log('select.interest: ', this, data);
        });


        form.on('checkbox', function (data) {
            console.log(this.checked, data.elem.checked);
        });

        form.on('switch', function (data) {
            console.log(data);
        });

        form.on('radio', function (data) {
            console.log(data);
        });

        //监听提交
        form.on('submit(*)', function (data) {
            console.log(data)
            alert(JSON.stringify(data.field));
            return false;
        });

    });

</script>

<script>
    layui.use('jquery', function () {
        var $ = layui.jquery;
        var submit = function () {
            return false;
        };
        $('#test').on('submit', function () {
            return false
        });
        $('#test').on('submit', function () {
            return true
        });
    });
</script>

<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#testx'
        });

        //国际版
        laydate.render({
            elem: '#test1-1'
            , lang: 'en'
        });

        //年选择器
        laydate.render({
            elem: '#test2'
            , type: 'year'
        });

        //年月选择器
        laydate.render({
            elem: '#test3'
            , type: 'month'
        });

        //时间选择器
        laydate.render({
            elem: '#test4'
            , type: 'time'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            , type: 'datetime'
        });

        //日期范围
        laydate.render({
            elem: '#test6'
            , range: true
        });

        //年范围
        laydate.render({
            elem: '#test7'
            , type: 'year'
            , range: true
        });

        //年月范围
        laydate.render({
            elem: '#test8'
            , type: 'month'
            , range: true
        });

        //时间范围
        laydate.render({
            elem: '#test9'
            , type: 'time'
            , range: true
        });

        //日期时间范围
        laydate.render({
            elem: '#test10'
            , type: 'datetime'
            , range: true
        });

        //自定义格式
        laydate.render({
            elem: '#test11'
            , format: 'yyyy年MM月dd日'
        });
        laydate.render({
            elem: '#test12'
            , format: 'dd/MM/yyyy'
        });
        laydate.render({
            elem: '#test13'
            , format: 'yyyyMMdd'
        });
        laydate.render({
            elem: '#test14'
            , type: 'time'
            , format: 'H点m分'
        });
        laydate.render({
            elem: '#test15'
            , type: 'month'
            , range: '~'
            , format: 'yyyy-MM'
        });
        laydate.render({
            elem: '#test16'
            , type: 'datetime'
            , range: '到'
            , format: 'yyyy年M月d日H时m分s秒'
        });

        //开启公历节日
        laydate.render({
            elem: '#test17'
            , calendar: true
        });

        //自定义重要日
        laydate.render({
            elem: '#test18'
            , mark: {
                '0-10-14': '生日'
                , '0-12-31': '跨年' //每年的日期
                , '0-0-10': '工资' //每月某天
                , '0-0-15': '月中'
                , '2017-8-15': '' //如果为空字符，则默认显示数字+徽章
                , '2099-10-14': '呵呵'
            }
            , done: function (value, date) {
                if (date.year === 2017 && date.month === 8 && date.date === 15) { //点击2017年8月15日，弹出提示语
                    layer.msg('这一天是：中国人民抗日战争胜利72周年');
                }
            }
        });

        //限定可选日期
        var ins22 = laydate.render({
            elem: '#test-limit1'
            , min: '2016-10-14'
            , max: '2080-10-14'
            , ready: function () {
                ins22.hint('日期可选值设定在 <br> 2016-10-14 到 2080-10-14');
            }
        });

        //前后若干天可选，这里以7天为例
        laydate.render({
            elem: '#test-limit2'
            , min: -7
            , max: 7
        });

        //限定可选时间
        laydate.render({
            elem: '#test-limit3'
            , type: 'time'
            , min: '09:30:00'
            , max: '17:30:00'
            , btns: ['clear', 'confirm']
        });

        //同时绑定多个
        lay('.test-item').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
            });
        });

        //初始赋值
        laydate.render({
            elem: '#test19'
            , value: '1989-10-14'
            , isInitValue: true
        });

        //选中后的回调
        laydate.render({
            elem: '#test20'
            , done: function (value, date) {
                layer.alert('你选择的日期是：' + value + '<br>获得的对象是' + JSON.stringify(date));
            }
        });

        //日期切换的回调
        laydate.render({
            elem: '#test21'
            , change: function (value, date) {
                layer.msg('你选择的日期是：' + value + '<br><br>获得的对象是' + JSON.stringify(date));
            }
        });
        //不出现底部栏
        laydate.render({
            elem: '#test22'
            , showBottom: false
        });

        //只出现确定按钮
        laydate.render({
            elem: '#test23'
            , btns: ['confirm']
        });

        //自定义事件
        laydate.render({
            elem: '#test24'
            , trigger: 'mousedown'
        });

        //点我触发
        laydate.render({
            elem: '#test25'
            , eventElem: '#test25-1'
            , trigger: 'click'
        });

        //双击我触发
        lay('#test26-1').on('dblclick', function () {
            laydate.render({
                elem: '#test26'
                , show: true
                , closeStop: '#test26-1'
            });
        });

        //日期只读
        laydate.render({
            elem: '#test27'
            , trigger: 'click'
        });

        //非input元素
        laydate.render({
            elem: '#test28'
        });

        //墨绿主题
        laydate.render({
            elem: '#test29'
            , theme: 'molv'
        });

        //自定义颜色
        laydate.render({
            elem: '#test30'
            , theme: '#393D49'
        });

        //格子主题
        laydate.render({
            elem: '#test31'
            , theme: 'grid'
        });


        //直接嵌套显示
        laydate.render({
            elem: '#test-n1'
            , position: 'static'
        });
        laydate.render({
            elem: '#test-n2'
            , position: 'static'
            , lang: 'en'
        });
        laydate.render({
            elem: '#test-n3'
            , type: 'month'
            , position: 'static'
        });
        laydate.render({
            elem: '#test-n4'
            , type: 'time'
            , position: 'static'
        });
    });
</script>

</body>
</html>
