body{
    margin:0 50px;
}

.white-background{
    background-color: white;
}

.lab_part{
    float: left;
    width:450px;
    margin:5px 28px 12px 5px;
}

.lab-card{
    height: 120px;
    /*text-overflow: ellipsis;*/
}
.star_rate{
    float: right;
    margin-top: -9px;
    margin-right: -8px;
}
.lab-thumb{
    margin:20px;
    height: 80px;
    width: 80px;
}

.lab_img{
    width:auto;
}

.lab-intro{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    /*float: right;*/
}
